<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pom.poly.com.tabatatimer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".profilePictureSetingActivity">
            <intent-filter>
                <action android:name="com.example.myapp.activities.profilePictureSetingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".LogoutActivity">
            <intent-filter>
                <action android:name="com.example.myapp.activities.LogoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Sugar ORM config -->
        <meta-data
            android:name="DATABASE"
            android:value="sugar_ormv2.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="pom.poly.com.tabatatimer.ContentProvider" />
        <!-- Sugar ORM config -->
        <activity android:name=".CongratulationActivity" />

        <provider
            android:name=".ContentProvider.UserProvider"
            android:authorities="pom.poly.com.tabatatimer" />

        <service
            android:name=".Service.UserDownloadAndSaveServic"
            android:exported="false" />

        <activity android:name=".SigUpActivity"></activity>
    </application>

</manifest>